@using EMP.Common
@model IEnumerable<EMS.MODEL.Models.EmployeeResponseModel>;

@{
    ViewData["title"] = "List of Employees";
}

<div class="container bg-secondary text-light">
    <h1 class="text-center">List of Employees</h1>
</div>

<div class="container-fluid">

    <table class="table">
        <thead>

            <tr>
                <th>@Html.DisplayNameFor(x => x.EmployeeId)</th>

                <th>@Html.DisplayNameFor(x => x.EmployeeName)</th>

                <th>@Html.DisplayNameFor(x => x.EmployeeAddress)</th>

                <th>@Html.DisplayNameFor(x => x.EmployeeJoiningDate)</th>

                <th>@Html.DisplayNameFor(x => x.EmployeeExperience)</th>

                <th>@Html.DisplayNameFor(x => x.EmployeeEmail)</th>

                <th>@Html.DisplayNameFor(x => x.Password)</th>

                <th>@Html.DisplayNameFor(x => x.Department)</th>

                <th>@Html.DisplayNameFor(x => x.Technology)</th>

                <th> # </th>
            </tr>

        </thead>

        <tbody>

            @foreach (var item in Model)
            {

                <tr>
                    <td>@Html.DisplayFor(x => item.EmployeeId)</td>

                    <td>@Html.DisplayFor(x => item.EmployeeName)</td>

                    <td>@Html.DisplayFor(x => item.EmployeeAddress)</td>

                    <td>@Html.DisplayFor(x => item.EmployeeJoiningDate)</td>

                    <td>@Html.DisplayFor(x => item.EmployeeExperience)</td>

                    <td>@Html.DisplayFor(x => item.EmployeeEmail)</td>

                    <td>@Html.DisplayFor(x => item.Password)</td>

                    <td>@Html.DisplayFor(x => item.Department)</td>

                    <td>@Html.DisplayFor(x => item.Technology)</td>

                    <td><a asp-action="Editemployee" asp-route-id="@item.EmployeeId" class="btn btn-outline-success">Edit</a></td>

                    <td><a asp-action="deleteEmployee" asp-route-id="@item.EmployeeId" class="btn btn-outline-danger">Delete</a></td>
                </tr>
            }

        </tbody>

    </table>

</div>

                    <div class="container">
                        <span class="text-danger">@ViewBag.Msg</span>
                    </div>